<h1>Your Public Ip: {{publicIp}}</h1>
<h1>Here comes the greeting</h1>
<div>
	<label>greeting.id: </label>
	<div>
		<em>{{greeting?.id}}</em>
	</div>
	<div>
		<input [(ngModel)]="greeting.id" placeholder="id">
	</div>
</div>
<div>
	<label>greeting.content: </label>
	<div>
		<em>{{greeting?.content}}</em>
	</div>
	<div>
		<input [(ngModel)]="greeting.content" placeholder="content">
	</div>
</div>
<br />
<br />
<h1>Networkstatus:</h1>
<ul class="codrs">
	<li *ngFor="let codr of codrs"><div
			style="overflow: hidden; white-space: nowrap;">
			<div>{{codr?.srcAdress}}:{{codr?.srcPort}}</div>
			<div>{{codr?.dstAdress}}:{{codr?.dstPort}}</div>
			<div>{{codr?.timeLastChanged}}</div>
			<!--
  | date:'yMMdd-HH:mm:ss' 
 -->

		</div></li>
</ul>
<br />
<br />

<h1>All them greetings</h1>
<ul class="greetings">
	<li *ngFor="let greeting of greetings"><span class="badge">{{greeting?.id}}</span>
		{{greeting?.content}}</li>
</ul>
